# Environment variables
.env
venv/

# Data / Datasets
backend/data/raw_data/
*.csv
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Mac OS
.DS_Store

backend/model/fraud_gnn.pt
backend/model/scores.json
*.pt
*.csv
*.log